<main>
  <h1>{{country.name.common}}</h1>
  <h2>{{country.name.official}}</h2>
  <div class="flag-country-details">
    <img src="{{country.flags.svg}}" alt="{{country.name.common}} Flag" />
  </div>
  <div class="country-info-details">
    <p><span class="info-country">Capital:</span> {{country.capital}}</p>
    <p><span class="info-country">População:</span> {{country.population}}</p>
    <p><span class="info-country">Continente:</span> {{country.continents}}</p>
    {{#if country.borders}}
      <p><span class="info-country">Fronteiras:</span>
        {{#each country.borders}}
        <span>{{this}},</span>
        {{#if @last}}
        <span>{{this}}</span>
        {{/if}}
        {{/each}}
      </p>
    {{/if}}
    <p><span class="info-country">Área:</span> {{country.area}} km²</p>
    <p><span class="info-country">Moeda:</span> {{#country.currencies}}
      {{#each this}}
        {{name}} ({{symbol}})
      {{/each}}
      {{/country.currencies}}
    </p>
    <p><span class="info-country">Língua:</span> 
      {{#country.languages}}
        {{#each this}}
          {{this}}{{#unless @last}}, {{/unless}}
        {{/each}}
      {{/country.languages}}
    </p>
    <p><span class="info-country">Código do País:</span> {{country.cca3}}</p>
    <p><span class="info-country">ID de Chamada:</span> {{country.cioc}}</p>
    <p><span class="info-country">Domínio de Internet:</span> {{country.tld}}</p>
  </div>
</main>
